#about {
  margin: auto;
}

.title span {
  background: linear-gradient(45deg, #ff4500, #f7db4b); /* Gradient from brighter sunset orange to brighter golden yellow */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-paragraph {
  font-size: 20px;
  margin: 2rem 0 4rem;
  z-index: -1;
}

p {
  margin: 20px;
}

#particle-bg canvas {
  position: absolute;
  max-width: 100%;
  min-height: 100vh;
  padding: auto;
}

@media screen and (max-width: 50rem) {
  .about-paragraph {
    font-size: 15px;
  }

  #particle-bg canvas {
    min-height: 145vh;
  }

  p {
    font-size: 20px;
    text-align: center;
  }
}