#about {
  background: black; 
  color: white; 
  margin: auto;
}

.about-paragraph {
  font-size: 20px;
  margin: 2rem 0 4rem;
}

@media screen and (max-width: 50rem) {
  .about-paragraph {
    font-size: 15px;
  }
}