.inputs input {
  width: 30%;
  border: solid;
  padding: 11px;
  font-size: large;
  margin: auto;
  margin-bottom: 1rem;
}

.inputs .email-address input {
  width: 60%;
}

.contact-form {
  margin: auto;
  min-height: auto;
  padding-bottom: 7rem;
}

.contact-form form {
  margin: auto;
  text-align: center;
}

.message textarea {
  width: 60%;
  border: solid;
  padding: 10px;
  font-size: large;
}

/* Initial styles for the submit button */
.submit-button {
  position: relative;
  display: inline-block;
  width: 15%;
  padding: 20px 30px;
  color: black;
  background: white;
  border: solid;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s ease-out;
  margin-top: 10px;
}

/* Psuedo classes for the submit button */
.submit-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: black;
  transition: transform 0.3s ease-out;
  z-index: 0;
}

.submit-button:hover::before {
  transform: translateX(100%); /* Slide in from left */
}

.submit-button:hover {
  color: white;
}

.submit-button span {
  position: relative;
  z-index: 1; 
  transition: color 0.3s ease-out;
  font-size: large;
  font-weight: bold;
}

.submit-button:hover span {
  color: white;
}

@media screen and (max-width: 50rem) {
  .inputs input {
    width: 80vw;
  }

  .inputs .email-address input {
    width: 80vw;
  }

  .message textarea {
    width: 80vw;
  }

  .submit-button {
    width: 98%;
  }
}