.inputs input {
  width: 30%;
  border: 3px solid white;
  border-radius: 10px;
  padding: 11px;
  font-size: large;
  margin: auto;
  margin-bottom: 1rem;
  background: #111111;
  color: white;
  box-shadow: 0 0 10px white;
}

.inputs .email-address input {
  width: 60%;
}

.contact-form {
  margin: auto;
  min-height: auto;
  padding-bottom: 7rem;
}

.contact-form form {
  margin: auto;
  text-align: center;
}

.message textarea {
  width: 60%;
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px;
  font-size: large;
  background: #111111;
  color: white;
  box-shadow: 0 0 10px white;
}

.message-box {
  display: none;
  padding: 20px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-width: 50%;
}

.message-box.success {
  border-color: green;
  color: green;
  border-width: 50%;
}

.message-box.error {
  border-color: red;
  color: red;
  border-width: 50%;
}

.submit-button {
  width: 15%;
  padding: 20px 30px;
  color: white;
  background: #111111;
  cursor: pointer;
  overflow: hidden;
  font-size: large;
  font-weight: bold;
  margin-top: 10px;
  border: 2px solid white;
  border-radius: 10px;
}

.submit-button:hover {
  color: white;
  background: orangered;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 10px white;
}

@media screen and (max-width: 50rem) {
  .inputs input {
    width: 80vw;
  }

  .inputs .email-address input {
    width: 80vw;
  }

  .message textarea {
    width: 80vw;
  }

  .submit-button {
    width: 98%;
  }
}