#contact {
  background: black;
}

.inputs input {
  width: 30%;
  border: 3px solid white;
  border-radius: 10px;
  padding: 11px;
  font-size: large;
  margin: auto;
  margin-bottom: 1rem;
  background: black;
  color: white;
  box-shadow: 0 0 10px white;
}

.inputs .email-address input {
  width: 60%;
}

.contact-form {
  margin: auto;
  min-height: auto;
  padding-bottom: 7rem;
}

.contact-form form {
  margin: auto;
  text-align: center;
}

.message textarea {
  width: 60%;
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px;
  font-size: large;
  background: black;
  color: white;
  box-shadow: 0 0 10px white;
}

.message-box {
  display: none;
  padding: 20px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-width: 50%;
}

.message-box.success {
  border-color: green;
  color: green;
  border-width: 50%;
}

.message-box.error {
  border-color: red;
  color: red;
  border-width: 50%;
}

.submit-button {
  width: 15%;
  padding: 20px 30px;
  color: white;
  background: black;
  cursor: pointer;
  overflow: hidden;
  font-size: larger;
  font-weight: bolder;
  margin-top: 10px;
  border: 2px solid white;
  border-radius: 10px;
}

.submit-button:hover {
  color: white;
  background: linear-gradient(45deg, #ff4500, #f7db4b); /* Gradient from brighter sunset orange to brighter golden yellow */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 10px white;
}

@media screen and (max-width: 50rem) {
  .inputs input {
    width: 80vw;
  }

  .inputs .email-address input {
    width: 80vw;
  }

  .message textarea {
    width: 80vw;
  }

  .submit-button {
    width: 98%;
    font-size: 20px;
  }
}