#home {
  background: black;
}

.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  padding: 20px;
}

.profile-image {
  display: block;
  width: 30vw;
  height: auto;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  transition: box-shadow 0.3s ease-in-out;
  animation: profile-pic 10s infinite;
}

.resume-title {
  border: 2px solid white;
  padding: 15px;
  margin-top: 10px;
  margin-left: -30px;
  font-size: 20px;
  font-weight: bolder;
}

.resume-title:hover {
  color: white;
  background: orangered;
  opacity: 0.7;
  transition: 0.2s ease-in-out;
}

@keyframes profile-pic {
  0% {
    border-top-left-radius: 60%;
    border-top-right-radius: 40% 30%;
    border-bottom-right-radius: 30% 70%;
    border-bottom-left-radius: 70% 40%;
  }
  
  50% {
    border-top-left-radius: 30%;
    border-top-right-radius: 60% 70%;
    border-bottom-right-radius: 40% 50%;
    border-bottom-left-radius: 30% 60%;
  }
  
  100% {
    border-top-left-radius: 60%;
    border-top-right-radius: 40% 30%;
    border-bottom-right-radius: 30% 70%;
    border-bottom-left-radius: 70% 40%;
  }
}

.text-animation-section {
  text-align: center;
}

.text-name {
  font-size: 10vh;
}

.text-name span {
  background: linear-gradient(45deg, #ff4500, #f7db4b); /* Gradient from brighter sunset orange to brighter golden yellow */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 
  0 0 5px rgba(255, 165, 0, 0.9)
}

.wrapper h3 {
  font-size: 5vh;
}

.dynamic-texts li span {
  font-size: 5vh;
}

.text-summary {
  font-size: 4vh;
  margin-bottom: 30px;
}

.call-to-actions {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 20px;
  margin-left: 40px;
  line-height: 0.5;
}

.call-to-actions a {
  text-decoration: none;
  color: inherit;
}

path {
  transition: 0.2s ease-in-out;
}

path:hover, a:hover {
  color: orangered;
}

/* Typewrite animation for h1 title */
.text-name {
  display: inline-block;
  border-right: 3px solid black transparent;
  white-space: nowrap;
  margin: 0 auto;
  overflow: hidden;
  animation: 
    typing 2s,
    cursor .4s step-end infinite alternate;
}

@keyframes cursor {
  from, to { border-color: transparent}
  50% { border-color: black }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.wrapper .static-text {
  font-size: 60px;
  font-weight: 400;
}

.wrapper .dynamic-texts {
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.dynamic-texts li {
  font-size: 40px;
  font-weight: 400;
  color: orangered;
}

.dynamic-texts li span {
  position: relative;
  background: linear-gradient(45deg, #ff4500, #f7db4b); /* Gradient from brighter sunset orange to brighter golden yellow */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dynamic-texts li span:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  border-left: 3px solid orangered;
  top: 0;
  animation: transition 2.5s steps(18) 1;
}

@keyframes transition {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 50rem) {
  .home-section {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .profile-image {
    width: 70vw; /* Adjust as needed */
    border-radius: 50%;
    margin-top: -75px;
  }

  .text-name {
    font-size: 4.5vh;
  }

  .wrapper h3 {
    font-size: 4vh;
  }

  .static-text {
    margin-bottom: -2vh;
  }

  .dynamic-texts li span {
    font-size: 3.5vh;
    margin-bottom: -2vh;
  }

  .text-summary {
    font-size: 3vh;
    margin-top: -2vh;
  }

  .call-to-actions {
    margin-left: 35px;
  }

  .call-to-actions a {
    flex-direction: row;
    padding: auto;
  }

  /* .call-to-actions div {
    font-size: 25px;
  } */

  .resume-title {
    border: 2px solid white;
    padding: 15px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bolder;
    margin-left: -30px;
  }

  .call-to-actions svg {
    width: 50px;
    height: 50px;
  }
}