@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*, ::before, ::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Titillium Web", sans-serif;
}


/* Typewrite animation for h1 title */

.text-name {
  display: inline-block;
  border-right: 3px solid black transparent;
  white-space: nowrap;
  margin: 0 auto;
  overflow: hidden;
  animation: 
    typing 2s,
    cursor .4s step-end infinite alternate;
}

@keyframes cursor {
  from, to { border-color: transparent}
  50% { border-color: black }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Animation for the h3 title */
/* .wrapper {
  display: inline-flex;
} */

.wrapper .static-text {
  font-size: 60px;
  font-weight: 400;
}

.wrapper .dynamic-texts {
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.dynamic-texts li {
  font-size: 40px;
  font-weight: 400;
  color: orangered;
}

.dynamic-texts li span {
  position: relative;
}

.dynamic-texts li span:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  border-left: 3px solid orangered;
  top: 0;
  animation: 
    transition 2.5s steps(18) infinite;
}

@keyframes transition {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}