.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  padding: 20px;
}

img {
  width: 30vw;
  height: auto;
  border-radius: 50%;
}

.text-animation-section {
  text-align: center;
}

.text-name {
  font-size: 10vh;
}

.wrapper h3 {
  font-size: 5vh;
}

.dynamic-texts li span {
  font-size: 5vh;
}

.text-summary {
  font-size: 3vh;
}

.call-to-actions {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: 60px;
}

.call-to-actions a {
  text-decoration: none;
  color: inherit;
}

.call-to-actions div {
  font-size: 30px;
}

/* Typewrite animation for h1 title */
.text-name {
  display: inline-block;
  border-right: 3px solid black transparent;
  white-space: nowrap;
  margin: 0 auto;
  overflow: hidden;
  animation: 
    typing 2s,
    cursor .4s step-end infinite alternate;
}

@keyframes cursor {
  from, to { border-color: transparent}
  50% { border-color: black }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Animation for the h3 title */
/* .wrapper {
  display: inline-flex;
} */

.wrapper .static-text {
  font-size: 60px;
  font-weight: 400;
}

.wrapper .dynamic-texts {
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.dynamic-texts li {
  font-size: 40px;
  font-weight: 400;
  color: orangered;
}

.dynamic-texts li span {
  position: relative;
}

.dynamic-texts li span:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  border-left: 3px solid orangered;
  top: 0;
  animation: 
    transition 2.5s steps(18) infinite;
}

@keyframes transition {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 50rem) {
  .home-section {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  img {
    width: 70vw; /* Adjust as needed */
    border-radius: 50%;
  }

  .text-name {
    font-size: 2vh;
  }

  .wrapper h3 {
    font-size: 4vh;
  }

  .dynamic-texts li span {
    font-size: 4vh;
  }

  .text-summary {
    font-size: 2.5vh;
  }

  .call-to-actions a {
    flex-direction: row;
    /* margin: auto; */
    margin-left: 30px;
  }

  .call-to-actions div {
    font-size: 25px;
  }

  .call-to-actions svg {
    width: 50px;
    height: 50px;
  }
}