@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*, ::before, ::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Titillium Web", sans-serif;
}

/* Typewrite animation for h1 title */

.text-name {
  display: inline-block;
  border-right: 3px solid black;
  white-space: nowrap;
  margin: 0 auto;
  overflow: hidden;
  animation: 
    typing 2s,
    cursor .4s step-end infinite alternate;
}

@keyframes cursor {
  from, to { border-color: transparent}
  50% { border-color: black }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}