@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*, ::before, ::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  max-width: 130%;
  font-family: "Titillium Web", sans-serif;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.title {
  text-align: center; 
  font-size: 50px;
  margin-bottom: 30px;
  margin-top: -60px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  background: black;
  color: white;
  margin-top: -50px;
}

footer svg {
  color: white;
}

footer svg:hover {
  color: orangered;
  transition: 0.3s ease-in-out;
}
