@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*, ::before, ::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Titillium Web", sans-serif;
}

section {
  min-height: 100vh;
  max-width: 100%;
  padding: 10rem 9% 2rem; 
  overflow-x: hidden;
}

.title {
  text-align: center; 
  font-size: 50px;
  margin-bottom: 30px;
  margin-top: -60px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  background: black;
  color: white;
  margin-top: -50px;
  max-width: 100%; /* Ensure footer doesn't exceed viewport width */
}

footer .copyright {
  font-size: large;
}

footer .up-icon {
  margin-top: 15px;
}

footer svg {
  color: white;
  height: 40px;
}

footer svg:hover {
  color: orangered;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 50rem) {
  footer {
    flex-direction: column-reverse;
  }

  footer .copyright {
    margin-top: 2rem;
    text-align: center;
  }
  
  footer .up-icon {
    margin: auto;
  }
  
  footer svg {
    height: 30px;
    width: 70px;
  }
}

