@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Titillium Web", sans-serif;
}

section {
  min-height: 100vh;
  max-width: 100%;
  padding: 10rem 9% 2rem; 
  overflow-x: hidden;
  background: #222222; 
  color: white;
}

.title {
  text-align: center; 
  font-size: 50px;
  margin-bottom: 30px;
  margin-top: -60px;
}

.load-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #ff4500, #f7db4b);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.75s, visibility 0.75s;
  z-index: 9999;
}

.load-spinner-hidden {
  opacity: 0;
  visibility: hidden;
}

.load-spinner::after {
  content: "";
  width: 100px;
  height: 100px;
  border: 10px solid #222222;
  border-top-color: whitesmoke;
  border-radius: 50%;
  animation: load 0.75s ease-in-out infinite;
  box-shadow: 0 0 10px white;
}

@keyframes load {
  from { transform: rotate(0turn) }
  to { transform: rotate(1turn)}
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  background: #222222;
  color: white;
  margin-top: -50px;
  max-width: 100%; /* Ensure footer doesn't exceed viewport width */
}

footer .copyright {
  font-size: larger;
  display: flex;
}

.copyright .copyright-logo {
  font-size: 30px;
  margin-top: 15px;
}

.copyright p {
  margin-left: 5px;
}

.up-icon {
  display: block;
  position: fixed;
  background: black;
  bottom: 80px;
  right: 1px;
  z-index: 30;
  opacity: 0.8;font-size: 40px;
  margin: auto;
}

.up-icon.hidden {
  display: none;
}

.up-icon > svg {
  color: white;
  height: 30px;
}

.up-icon > svg:hover {
  color: orangered;
  transition: 0.1s ease-in-out;
}

@media screen and (max-width: 50rem) {
  footer {
    flex-direction: column-reverse;
  }

  footer .copyright {
    margin-top: 2rem;
    text-align: center;
    margin: auto;
  }

  .copyright .copyright-logo {
    font-size: 30px;
    margin-left: 40px;
  }

  .copyright p {
    margin-right: 30px;
  }

  /* footer .up-icon {
    margin: auto;
  } */
  
  /* footer svg {
    height: 30px;
    width: 70px;
  } */
}

