header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  background: black;
  margin-bottom: 5vh;
}

.logo img {
  display: block;
  width: 150px;
  height: 70px;
}

.logo:hover img {
  opacity: .5;
  transition: 0.2s ease-in-out;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

/* Close menu toggle */

.hamburger-menu.closed {
  position: relative; 
}

.hamburger-menu.closed .bar:nth-child(1),
.hamburger-menu.closed .bar:nth-child(2) {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%) rotate(45deg); 
  margin: -1px 0;
}

.hamburger-menu.closed .bar:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hamburger-menu.closed .bar:nth-child(3) {
  opacity: 0;
}

.navbar {
  position: relative;
  padding: 1vw 1vh;
}

.navbar ul {
  display: flex;
}

.navbar ul li a {
  display: block; 
  color: white; 
  font-size: 2.8vh; 
  margin: 0 5px; 
  padding: 10px 25px; 
  border-radius: 6.5vw; 
  transition: 0.3s
}

.navbar ul li a:hover {
  color: black;
  background: white;
}

.navbar ul li a.active {
  color: black;
  background: white;
}

@media screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}

@media screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
/* 
  .navbar .active {
    height: 420px;
  } */
}

@media screen and (max-width: 900px) {
  .hamburger-menu {
    display: block;
    cursor: pointer;
  }

  .hamburger-menu .bar {
    width: 6vw;
    height: 0.3vh;
    background: white;
    margin: 6px 0;
  }

  .logo img {
    display: block;
    margin-left: -8px;
    width: 80px;
    height: 50px;
  }

  .navbar {
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    height: 0;
    width: 100vw;
    background: black;
    transition: 0.2s;
    margin-top: -35px;
  }

  .navbar.active {
    height: 400px;
    margin-top: -35px;
  }

  .navbar ul  {
    display: none;
    text-align: center;
    width: fit-content;
    margin: 80px auto 0 auto;
    opacity: 0;
    transition: 0.5s;
  }

  .navbar.active ul {
    display: block;
    opacity: 1;
    transition: 0.5s;
  }

  .navbar ul li a {
     margin-top: -5px;
     margin-bottom: 20px;
     font-size: 20px;
     font-weight: bolder;
  }
}