.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(42vh, 1fr));
  align-items: flex-start ;
  gap: 1rem;
  box-sizing: border-box;
}

.project-guidance-side-note {
  font-size: 19px;
  font-weight: 100 bold;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 30px;
}

.card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.card > img {
  display: block;
  width: 50%;
  aspect-ratio: 1/1;
  object-fit: fill;
  object-position: center;
  margin: auto;
}

.card > .pm {
  height: 35vh;
  width: 20vw;
  margin-top: -20px;
}

.card > .project-title {
  padding: auto;
  position: absolute;
  inset: 0;
  font-size: 2rem;
  background-color: rgba(255,255,255,.4); 
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card > img, .card > .project-title {
  transition: 200ms ease-in-out;
}

/* Blur effect */
.card:hover > img.blur {
  filter: blur(5px);
}

/* Zoom effect */
.card:hover > img.zoom {
  transform: scale(1.1);
}

/* Text fade */
.card > .project-title.fade {
  opacity: 0;
}

.card:hover > .project-title.fade {
  opacity: 1;
}

@media screen and (max-width: 50rem) {
  .project-guidance-side-note {
    font-size: 15px;
    font-weight: 100 bold;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 30px;
  }

  .card {
    max-width: 100%;
  }

  .card > .pm {
    height: 35vh;
    width: 60vw;
  }
}