.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(42vh, 1fr));
  align-items: flex-start ;
  gap: 1rem;
  box-sizing: border-box;
}

.project-guidance-side-note {
  font-size: 19px;
  font-weight: 100 bold;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 30px;
}

.card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.card > img {
  display: block;
  width: 50%;
  aspect-ratio: 1/1;
  object-fit: fill;
  object-position: center;
  margin: auto;
}

.card > .pm {
  height: 35vh;
  width: 20vw;
  margin-top: -20px;
}

.card > .project-title {
  padding: auto;
  position: absolute;
  inset: 0;
  font-size: 2rem;
  background-color: rgba(255,255,255,.4); 
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .project-title > p {
  margin : 0;
} */

/* .card > .tech-stack {
  font-size: 1.3rem;
  text-align: center;
  margin: auto;
  z-index: 1;
} */

/* .tech-stack > p {
  margin: 0;
} */

.card > img, .card > .project-title {
  transition: 200ms ease-in-out;
}

/* Blur effect */
.card:hover > img.blur {
  filter: blur(5px);
}

/* Zoom effect */
.card:hover > img.zoom {
  transform: scale(1.1);
}

/* Text fade */
.card > .project-title.fade, .card > .tech-stack.fade {
  opacity: 0;
}

.card:hover > .project-title.fade, .card:hover > .tech-stack.fade {
  opacity: 1;
}

/* Modal */
.modal {
  position: fixed;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;

  border: 1px solid black;
  border-radius: 10px;

  z-index: 10;

  background: rgba(0,0,0,.5);
  background-color: white;

  width: 700px;
  height: 410px;
  max-width: 95%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid black;
}

.modal-header > .title {
  font-size: 1.3rem;
  font-weight: bolder;
  margin: auto;
  margin-top: 30px;
}

.modal-header .tech-stack {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 0.5rem;
  margin-top: 10px;
}

.tech-stack .html {
  border: none;
  border-radius: 50px;
  padding: 5px 10px 5px 10px;
  background: #e5532d;
  color: white;
}

.tech-stack .css {
  border: none;
  border-radius: 50px;
  padding: 5px 10px 5px 10px;
  background: #2d53e5;
  color: white;
}

.tech-stack .javascript {
  border: none;
  border-radius: 50px;
  padding: 5px 10px 5px 10px;
  background: #f7e025;
  color: black;
}

.tech-stack .php {
  border: none;
  border-radius: 50px;
  padding: 5px 10px 5px 10px;
  background: #556096;
  color: white;
}

.tech-stack .svelte {
  border: none;
  border-radius: 50px;
  padding: 5px 10px 5px 10px;
  background: #ff3e00;
  color: white;
}

.tech-stack .tailwind-css {
  border: none;
  border-radius: 50px;
  padding: 5px 10px 5px 10px;
  background: #0f172a;
  color: #38bdf8;
}

.tech-stack .skeleton-ui {
  border: none;
  border-radius: 50px;
  padding: 5px 10px 5px 10px;
  background: #423460;
  color: #ffffff;
}

.modal-header > .close-button {
  cursor: pointer;
  outline: none;
  background: none;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 85px;
  /* right: 10px; */
}

.modal-header > .close-button:hover {
  color: red;
  transition: 150ms ease-in-out;
}

.modal-body {
  padding: 10px 15px;
  height: 130px;
  max-height: 100%;
}

.project-ctas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  gap: 20px;
  border-top: 1px solid black;
  padding: 9px;
}

.project-ctas a {
  display: inline-block; 
  border: 2px solid black;
  padding: 10px;
  text-decoration: none; 
  color: black; 
  background-color: white;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.project-ctas a:hover {
  color: white; 
  background-color: black;
}

#overlay {
  position: fixed;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;

  opacity: 0;
  background-color: rgba(0,0,0,.5);

  pointer-events: none;

  transition: 200ms ease-in-out;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

@media screen and (max-width: 50rem) {
  .project-guidance-side-note {
    font-size: 15px;
    font-weight: 100 bold;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 30px;
  }

  .card {
    max-width: 100%;
  }

  .card > .pm {
    height: 35vh;
    width: 60vw;
  }

  .modal {
    height: 480px;
  }

  .modal-header {
    height: 140px;
  }

  .modal-header > .title {
    font-size: 20px;
    font-weight: bolder;
  }

  .modal-body {
    padding: 10px 15px;
    height: 65px;
    max-height: 100%;
  }

  .project-ctas {
    margin-top: 200px;
    max-height: 100%;
    padding: 12px;
  }

  .tech-stack .html {
    border: none;
    border-radius: 50px;
    padding: 3px 10px 3px 10px;
    background: #e5532d;
    color: white;
    margin-top: -10px;
  }
  
  .tech-stack .css {
    border: none;
    border-radius: 50px;
    padding: 3px 10px 3px 10px;
    background: #2d53e5;
    color: white;
    margin-top: -10px;
  }

  .tech-stack .javascript {
    border: none;
    border-radius: 50px;
    padding: 3px 10px 3px 10px;
    background: #f7e025;
    color: black;
    margin-top: -10px;
  }
  
  .tech-stack .php {
    border: none;
    border-radius: 50px;
    padding: 3px 10px 3px 10px;
    background: #556096;
    color: white;
    margin-top: -10px;
  }

  .tech-stack .svelte {
    border: none;
    border-radius: 50px;
    padding: 3px 10px 3px 10px;
    background: #ff3e00;
    color: white;
    margin-top: -10px;
  }

  .tech-stack .tailwind-css {
    border: none;
    border-radius: 50px;
    padding: 3px 10px 3px 10px;
    background: #0f172a;
    color: #38bdf8;
    margin-top: -10px;
  }

  .tech-stack .skeleton-ui {
    border: none;
    border-radius: 50px;
    padding: 3px 10px 3px 10px;
    background: #423460;
    color: #ffffff;
    margin-top: -10px;
  }
}