.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(42vh, 1fr));
  align-items: flex-start ;
  gap: 1rem;
  box-sizing: border-box;
}

.project-guidance-side-note {
  font-size: 19px;
  font-weight: 100 bold;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 30px;
}

.card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.card > img {
  display: block;
  width: 50%;
  aspect-ratio: 1/1;
  object-fit: fill;
  object-position: center;
  margin: auto;
}

.card > .pm {
  height: 35vh;
  width: 20vw;
  margin-top: -20px;
}

.card > .project-title {
  padding: auto;
  position: absolute;
  inset: 0;
  font-size: 2rem;
  background-color: rgba(255,255,255,.4); 
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card > img, .card > .project-title {
  transition: 200ms ease-in-out;
}

/* Blur effect */
.card:hover > img.blur {
  filter: blur(5px);
}

/* Zoom effect */
.card:hover > img.zoom {
  transform: scale(1.1);
}

/* Text fade */
.card > .project-title.fade {
  opacity: 0;
}

.card:hover > .project-title.fade {
  opacity: 1;
}

/* Modal */
.modal {
  position: fixed;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;

  border: 1px solid black;
  border-radius: 10px;

  z-index: 10;

  background: rgba(0,0,0,.5);
  background-color: white;

  width: 500px;
  max-width: 95%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid black;
}

.modal-header > .title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: auto;
}

.modal-header > .close-button {
  cursor: pointer;
  outline: none;
  background: none;
  font-size: 1.5rem;
  font-weight: bolder;
}

.modal-header > .close-button:hover {
  color: red;
  transition: 150ms ease-in-out;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;

  opacity: 0;
  background-color: rgba(0,0,0,.5);

  pointer-events: none;

  transition: 200ms ease-in-out;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

@media screen and (max-width: 50rem) {
  .project-guidance-side-note {
    font-size: 15px;
    font-weight: 100 bold;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 30px;
  }

  .card {
    max-width: 100%;
  }

  .card > .pm {
    height: 35vh;
    width: 60vw;
  }

  .modal-header > .title {
    font-size: 15px;
    font-weight: bolder;
  }
}