.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(42vh, 1fr));
  align-items: flex-start ;
  gap: 1rem;
  box-sizing: border-box;
}

.card {
  padding: 1rem;
  border: none;
  border-radius: 1vw;
  text-align: center;
  background: black;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,.5);
  color: white;
  width: auto;
}

.card-image {
  display: block;
  width: 30vw;
  height: 30vh;
  aspect-ratio: 16 / 9;
  margin: auto;
  object-fit: fill;
  object-position: center;
}

@media screen and (max-width: 50rem) {
  .card {
    max-width: 100%;
  }
}