.skills-guidance-side-note {
  font-size: 19px;
  font-weight: 100 bold;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 30px;
}

.skills-icon-grid {
  text-align: center;  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(42vh, 1fr)); 
  align-items: center;
}

.front-end-title, .back-end-title, .others-title, .soft-skills-title {
  margin-bottom: 10px;
}

.languages-icons, .others-icons {
  margin-bottom: 35px;
  gap: 0;
}

.soft-skills-title {
  text-align: center;
  margin-top: 50px;
}

.soft-skills-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 10px;
  margin-top: 30px;
}

.soft-skills-list-item {
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px;
}

/* Icons hover tool tip effect */
svg:hover {
  transition: 150ms ease-in-out;
  opacity: 0.6;
}

.icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.icon::before, .icon::after {
  --scale: 0;
  --tooltip-color: white;
  --arrow-size: 7px;
  
  position: absolute;
  bottom: -.25rem;
  left: 50%;
  
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: top center;
}

.icon::before {
  --translate-y: calc(100% + var(--arrow-size));
  
  content: attr(data-tooltip);
  color: black;
 
  padding: .2rem;
  width: auto;
   
  background: var(--tooltip-color);
  border-radius: .3rem;
  
  text-align: center;
}

.icon:hover::before, .icon:hover::after {
  --scale: 1;
}

.icon::after {
  --translate-y: var(--arrow-size);
  
  content: '';
  transform-origin: bottom center;
 
  border: var(--arrow-size) solid transparent;
  border-bottom-color: var(--tooltip-color);
}

.bubble-bg {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;
}

.bubble-bg span {
  position: relative;
  background: lightblue;
  width: 30px;
  height: 30px;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgb(129, 180, 197), 0 0 50px lightskyblue, 0 0 100px lightskyblue;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
  z-index: 0;
}

.bubble-bg span:nth-child(even) {
  background: lightcoral;
  box-shadow: 0 0 0 10px darkred, 0 0 50px lightcoral, 0 0 100px lightcoral;
}

@keyframes animate {
  0% {
    transform: translateY(65vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}

svg {
  width: 60px;
}

@media screen and (max-width: 50rem) {
  svg {
    width: 60px;
  }

  .bubble-bg span {
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 5px rgb(129, 180, 197), 0 0 30px lightskyblue, 0 0 60px lightskyblue;
  }

  @keyframes animate {
    0% {
      transform: translateY(60vh) scale(0.5);
    }
    100% {
      transform: translateY(-10vh) scale(1);
    }
  }

  .skills-guidance-side-note {
    font-size: 15px;
    font-weight: 100 bold;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 30px;
  }

  .soft-skills-title {
    text-align: center;
    margin-left: 20px;
    margin-top: -20px;
}

  .soft-skills-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 3px;
    margin-top: 15px;
 }
  
  .soft-skills-list-item {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid white;
    border-radius: 5px;
    padding: 5px;
  }
}