#skills {
  background: black;
  color: white;
}

.skills-icon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(42vh, 1fr)); 
  align-items: center;
}

.bubble-bg {
  position: relative;
  display: flex;
}

.bubble-bg span {
  background: lightblue;
  width: 30px;
  height: 30px;
  margin: 30px;
  border-radius: 50%;
  animation: name duration timing-function delay iteration-count direction fill-mode;
}

svg {
  width: 60px;
}

@media screen and (max-width: 50rem) {
  svg {
    width: 60px;
  }
}