#skills {
  background: black;
  color: white;
}

.skills-icon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(42vh, 1fr)); 
  align-items: center;
}

.bubble-bg {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;
}

.bubble-bg span {
  position: relative;
  background: lightblue;
  width: 30px;
  height: 30px;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgb(129, 180, 197), 0 0 50px lightskyblue, 0 0 100px lightskyblue;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
  z-index: 0;
}

.bubble-bg span:nth-child(even) {
  background: lightcoral;
  box-shadow: 0 0 0 10px darkred, 0 0 50px lightcoral, 0 0 100px lightcoral;
}

@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}

svg {
  width: 60px;
}

@media screen and (max-width: 50rem) {
  svg {
    width: 60px;
  }

  .bubble-bg span {
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 5px rgb(129, 180, 197), 0 0 30px lightskyblue, 0 0 60px lightskyblue;
  }
}