*, ::before, ::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex; 
  justify-content: space-between; 
  align-items:center;
  background: black;
}

.logo {
  text-decoration: none;
  margin: 10px;
  font-size: 4vh;
  font-weight: bold;
  color: white;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.navbar {
  padding: 1vw 1vh;
}

.navbar ul {
  display: flex;
}

.navbar ul li a {
  display: block; 
  color: white; 
  font-size: 2.8vh; 
  margin: 0 5px; 
  padding: 10px 25px; 
  border-radius: 6.5vw; 
  transition: 0.3s
}

.navbar ul li a:hover {
  color: black;
  background: white;
}

.navbar ul li a.active {
  color: black;
  background: white;
}

@media screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}

@media screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 900px) {
  .hamburger-menu {
    display: block;
    cursor: pointer;
  }

  .hamburger-menu .bar {
  width: 4vw;
  height: 0.5vh;
  background: white;
  margin: 6px 0;
 }

 .navbar {
  /* display: none; */
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  height: 0;
  width: 100vw;
  background: black;
  transition: 0.2s;
 }

 .navbar ul {
  display: block;
  width: fit-content;
  margin: 80px auto 0 auto;
  text-align: center;
  transition: 0.5s;
  opacity: 0;
  overflow: hidden;
 }

 .navbar ul li a {
  margin-bottom: 12px;
  color: red;
 }
}