.navbar ul li a.active {
  color: black;
  background: white;
}

.hamburger-menu {
  display: none;
}

@media screen and (max-width: 50vw) {
  header {
    padding: 0 50px;
  }
}

@media screen and (max-width: 40vw) {
  header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 30vw) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .navbar {
    display: none;
  }
}